--
-- PostgreSQL database dump
--

\restrict d96smExkYqyAweEhDJdFPVAuXTUcw87pqGqd4IFsUwdNUcbzFmawpaMaIf2qKU4

-- Dumped from database version 18.0
-- Dumped by pg_dump version 18.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: AspNetRoleClaims; Type: TABLE; Schema: public; Owner: thz
--

CREATE TABLE public."AspNetRoleClaims" (
    "Id" integer NOT NULL,
    "RoleId" text NOT NULL,
    "ClaimType" text,
    "ClaimValue" text
);


ALTER TABLE public."AspNetRoleClaims" OWNER TO thz;

--
-- Name: AspNetRoleClaims_Id_seq; Type: SEQUENCE; Schema: public; Owner: thz
--

ALTER TABLE public."AspNetRoleClaims" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."AspNetRoleClaims_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: AspNetRoles; Type: TABLE; Schema: public; Owner: thz
--

CREATE TABLE public."AspNetRoles" (
    "Id" text NOT NULL,
    "Name" character varying(256),
    "NormalizedName" character varying(256),
    "ConcurrencyStamp" text
);


ALTER TABLE public."AspNetRoles" OWNER TO thz;

--
-- Name: AspNetUserClaims; Type: TABLE; Schema: public; Owner: thz
--

CREATE TABLE public."AspNetUserClaims" (
    "Id" integer NOT NULL,
    "UserId" text NOT NULL,
    "ClaimType" text,
    "ClaimValue" text
);


ALTER TABLE public."AspNetUserClaims" OWNER TO thz;

--
-- Name: AspNetUserClaims_Id_seq; Type: SEQUENCE; Schema: public; Owner: thz
--

ALTER TABLE public."AspNetUserClaims" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."AspNetUserClaims_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: AspNetUserLogins; Type: TABLE; Schema: public; Owner: thz
--

CREATE TABLE public."AspNetUserLogins" (
    "LoginProvider" text NOT NULL,
    "ProviderKey" text NOT NULL,
    "ProviderDisplayName" text,
    "UserId" text NOT NULL
);


ALTER TABLE public."AspNetUserLogins" OWNER TO thz;

--
-- Name: AspNetUserRoles; Type: TABLE; Schema: public; Owner: thz
--

CREATE TABLE public."AspNetUserRoles" (
    "UserId" text NOT NULL,
    "RoleId" text NOT NULL
);


ALTER TABLE public."AspNetUserRoles" OWNER TO thz;

--
-- Name: AspNetUserTokens; Type: TABLE; Schema: public; Owner: thz
--

CREATE TABLE public."AspNetUserTokens" (
    "UserId" text NOT NULL,
    "LoginProvider" text NOT NULL,
    "Name" text NOT NULL,
    "Value" text
);


ALTER TABLE public."AspNetUserTokens" OWNER TO thz;

--
-- Name: AspNetUsers; Type: TABLE; Schema: public; Owner: thz
--

CREATE TABLE public."AspNetUsers" (
    "Id" text NOT NULL,
    "FullName" character varying(150) NOT NULL,
    "CompanyCode" character varying(20) NOT NULL,
    "Position" integer NOT NULL,
    "MustChangePassword" boolean NOT NULL,
    "OrgUnitId" integer,
    "UserName" character varying(256),
    "NormalizedUserName" character varying(256),
    "Email" character varying(256),
    "NormalizedEmail" character varying(256),
    "EmailConfirmed" boolean NOT NULL,
    "PasswordHash" text,
    "SecurityStamp" text,
    "ConcurrencyStamp" text,
    "PhoneNumber" text,
    "PhoneNumberConfirmed" boolean NOT NULL,
    "TwoFactorEnabled" boolean NOT NULL,
    "LockoutEnd" timestamp with time zone,
    "LockoutEnabled" boolean NOT NULL,
    "AccessFailedCount" integer NOT NULL
);


ALTER TABLE public."AspNetUsers" OWNER TO thz;

--
-- Name: Assignments; Type: TABLE; Schema: public; Owner: thz
--

CREATE TABLE public."Assignments" (
    "Id" uuid NOT NULL,
    "Title" character varying(200) NOT NULL,
    "Description" text NOT NULL,
    "TopicId" uuid NOT NULL
);


ALTER TABLE public."Assignments" OWNER TO thz;

--
-- Name: AuditLogs; Type: TABLE; Schema: public; Owner: thz
--

CREATE TABLE public."AuditLogs" (
    "Id" uuid NOT NULL,
    "EntityName" character varying(100) NOT NULL,
    "EntityId" character varying(100) NOT NULL,
    "Action" character varying(50) NOT NULL,
    "PerformedBy" text,
    "Reason" character varying(500),
    "Timestamp" timestamp with time zone NOT NULL,
    "OldData" text,
    "NewData" text
);


ALTER TABLE public."AuditLogs" OWNER TO thz;

--
-- Name: CourseRatings; Type: TABLE; Schema: public; Owner: thz
--

CREATE TABLE public."CourseRatings" (
    "Id" uuid NOT NULL,
    "CourseId" uuid NOT NULL,
    "UserId" text NOT NULL,
    "Score" integer NOT NULL,
    "Comment" character varying(100),
    "CreatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public."CourseRatings" OWNER TO thz;

--
-- Name: Courses; Type: TABLE; Schema: public; Owner: thz
--

CREATE TABLE public."Courses" (
    "Id" uuid NOT NULL,
    "Category" character varying(100) NOT NULL,
    "Title" character varying(200) NOT NULL,
    "IsMandatory" boolean NOT NULL,
    "Thumbnail" text NOT NULL,
    "Description" text NOT NULL,
    "CertificationImage" text NOT NULL,
    "TotalHours" double precision NOT NULL,
    "Rating" double precision NOT NULL,
    "Badge" character varying(50),
    "EnrolledCount" integer NOT NULL,
    "Status" character varying(20) NOT NULL,
    "ReviewCount" integer DEFAULT 0 NOT NULL
);


ALTER TABLE public."Courses" OWNER TO thz;

--
-- Name: Enrollments; Type: TABLE; Schema: public; Owner: thz
--

CREATE TABLE public."Enrollments" (
    "Id" uuid NOT NULL,
    "UserId" text NOT NULL,
    "CourseId" uuid NOT NULL,
    "Status" character varying(20) DEFAULT 'Pending'::character varying NOT NULL,
    "RequestedAt" timestamp with time zone NOT NULL,
    "ApprovedAt" timestamp with time zone,
    "ProgressPercentage" double precision NOT NULL,
    "IsCompleted" boolean NOT NULL
);


ALTER TABLE public."Enrollments" OWNER TO thz;

--
-- Name: LessonAttempts; Type: TABLE; Schema: public; Owner: thz
--

CREATE TABLE public."LessonAttempts" (
    "Id" uuid NOT NULL,
    "UserId" text NOT NULL,
    "LessonId" uuid NOT NULL,
    "Score" integer NOT NULL,
    "MaxScore" integer NOT NULL,
    "Percentage" numeric(5,2) NOT NULL,
    "IsPassed" boolean NOT NULL,
    "AttemptedAt" timestamp with time zone NOT NULL,
    "AnswerJson" text,
    "TestId" uuid DEFAULT '00000000-0000-0000-0000-000000000000'::uuid NOT NULL
);


ALTER TABLE public."LessonAttempts" OWNER TO thz;

--
-- Name: LessonContents; Type: TABLE; Schema: public; Owner: thz
--

CREATE TABLE public."LessonContents" (
    "Id" uuid NOT NULL,
    "LessonId" uuid NOT NULL,
    "ContentType" character varying(50) NOT NULL,
    "Body" text,
    "SortOrder" integer NOT NULL
);


ALTER TABLE public."LessonContents" OWNER TO thz;

--
-- Name: Lessons; Type: TABLE; Schema: public; Owner: thz
--

CREATE TABLE public."Lessons" (
    "Id" uuid NOT NULL,
    "CourseId" uuid NOT NULL,
    "Title" character varying(200) NOT NULL,
    "Time" character varying(70) NOT NULL,
    "SortOrder" integer NOT NULL
);


ALTER TABLE public."Lessons" OWNER TO thz;

--
-- Name: Notifications; Type: TABLE; Schema: public; Owner: thz
--

CREATE TABLE public."Notifications" (
    "Id" uuid NOT NULL,
    "RecipientId" text NOT NULL,
    "SenderId" text,
    "Title" character varying(200) NOT NULL,
    "Message" text NOT NULL,
    "Type" character varying(50) NOT NULL,
    "TargetId" text,
    "IsRead" boolean NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public."Notifications" OWNER TO thz;

--
-- Name: OrgUnits; Type: TABLE; Schema: public; Owner: thz
--

CREATE TABLE public."OrgUnits" (
    "Id" integer NOT NULL,
    "Name" character varying(100) NOT NULL,
    "Level" integer NOT NULL,
    "ParentId" integer
);


ALTER TABLE public."OrgUnits" OWNER TO thz;

--
-- Name: OrgUnits_Id_seq; Type: SEQUENCE; Schema: public; Owner: thz
--

ALTER TABLE public."OrgUnits" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."OrgUnits_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: QuestionOptions; Type: TABLE; Schema: public; Owner: thz
--

CREATE TABLE public."QuestionOptions" (
    "Id" uuid NOT NULL,
    "QuestionId" uuid NOT NULL,
    "OptionText" character varying(500) NOT NULL,
    "IsCorrect" boolean DEFAULT false NOT NULL
);


ALTER TABLE public."QuestionOptions" OWNER TO thz;

--
-- Name: Questions; Type: TABLE; Schema: public; Owner: thz
--

CREATE TABLE public."Questions" (
    "Id" uuid NOT NULL,
    "TestId" uuid NOT NULL,
    "QuestionText" text NOT NULL,
    "SortOrder" integer NOT NULL,
    "Points" integer DEFAULT 1 NOT NULL
);


ALTER TABLE public."Questions" OWNER TO thz;

--
-- Name: Submissions; Type: TABLE; Schema: public; Owner: thz
--

CREATE TABLE public."Submissions" (
    "Id" uuid NOT NULL,
    "ContentText" text NOT NULL,
    "FileUrl" character varying(500),
    "SubmittedAt" timestamp with time zone NOT NULL,
    "StudentId" text NOT NULL,
    "AssignmentId" uuid NOT NULL
);


ALTER TABLE public."Submissions" OWNER TO thz;

--
-- Name: Tests; Type: TABLE; Schema: public; Owner: thz
--

CREATE TABLE public."Tests" (
    "Id" uuid NOT NULL,
    "LessonContentId" uuid NOT NULL,
    "PassingGrade" integer DEFAULT 40 NOT NULL,
    "Title" character varying(200) DEFAULT ''::character varying NOT NULL
);


ALTER TABLE public."Tests" OWNER TO thz;

--
-- Name: Topics; Type: TABLE; Schema: public; Owner: thz
--

CREATE TABLE public."Topics" (
    "Id" uuid NOT NULL,
    "Title" character varying(200) NOT NULL,
    "CourseId" uuid NOT NULL
);


ALTER TABLE public."Topics" OWNER TO thz;

--
-- Name: UserLessonProgresses; Type: TABLE; Schema: public; Owner: thz
--

CREATE TABLE public."UserLessonProgresses" (
    "Id" uuid NOT NULL,
    "UserId" text NOT NULL,
    "LessonId" uuid NOT NULL,
    "TimeSpentSeconds" integer DEFAULT 0 NOT NULL,
    "IsCompleted" boolean DEFAULT false NOT NULL,
    "LastAccessedAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."UserLessonProgresses" OWNER TO thz;

--
-- Name: __EFMigrationsHistory; Type: TABLE; Schema: public; Owner: thz
--

CREATE TABLE public."__EFMigrationsHistory" (
    "MigrationId" character varying(150) NOT NULL,
    "ProductVersion" character varying(32) NOT NULL
);


ALTER TABLE public."__EFMigrationsHistory" OWNER TO thz;

--
-- Data for Name: AspNetRoleClaims; Type: TABLE DATA; Schema: public; Owner: thz
--

COPY public."AspNetRoleClaims" ("Id", "RoleId", "ClaimType", "ClaimValue") FROM stdin;
\.


--
-- Data for Name: AspNetRoles; Type: TABLE DATA; Schema: public; Owner: thz
--

COPY public."AspNetRoles" ("Id", "Name", "NormalizedName", "ConcurrencyStamp") FROM stdin;
r1	SuperAdmin	SUPERADMIN	\N
r2	Staff	STAFF	\N
r3	Admin	ADMIN	\N
\.


--
-- Data for Name: AspNetUserClaims; Type: TABLE DATA; Schema: public; Owner: thz
--

COPY public."AspNetUserClaims" ("Id", "UserId", "ClaimType", "ClaimValue") FROM stdin;
\.


--
-- Data for Name: AspNetUserLogins; Type: TABLE DATA; Schema: public; Owner: thz
--

COPY public."AspNetUserLogins" ("LoginProvider", "ProviderKey", "ProviderDisplayName", "UserId") FROM stdin;
\.


--
-- Data for Name: AspNetUserRoles; Type: TABLE DATA; Schema: public; Owner: thz
--

COPY public."AspNetUserRoles" ("UserId", "RoleId") FROM stdin;
b74ddd14-6340-4840-95c2-db12554843e5	r3
e326a490-fa10-4748-b47a-dcda19d77e78	r2
fd60cf96-2e9b-49ff-8185-431589d76c20	r2
997a8fe8-ddc8-49be-9fd7-d2f5faded5ff	r3
\.


--
-- Data for Name: AspNetUserTokens; Type: TABLE DATA; Schema: public; Owner: thz
--

COPY public."AspNetUserTokens" ("UserId", "LoginProvider", "Name", "Value") FROM stdin;
\.


--
-- Data for Name: AspNetUsers; Type: TABLE DATA; Schema: public; Owner: thz
--



--
-- Data for Name: Assignments; Type: TABLE DATA; Schema: public; Owner: thz
--

COPY public."Assignments" ("Id", "Title", "Description", "TopicId") FROM stdin;
\.


--
-- Data for Name: AuditLogs; Type: TABLE DATA; Schema: public; Owner: thz
--



--
-- Data for Name: CourseRatings; Type: TABLE DATA; Schema: public; Owner: thz
--

COPY public."CourseRatings" ("Id", "CourseId", "UserId", "Score", "Comment", "CreatedAt") FROM stdin;
\.


--
-- Data for Name: Courses; Type: TABLE DATA; Schema: public; Owner: thz
--



--
-- Data for Name: Enrollments; Type: TABLE DATA; Schema: public; Owner: thz
--



--
-- Data for Name: LessonAttempts; Type: TABLE DATA; Schema: public; Owner: thz
--



--
-- Data for Name: LessonContents; Type: TABLE DATA; Schema: public; Owner: thz
--



--
-- Data for Name: Lessons; Type: TABLE DATA; Schema: public; Owner: thz
--

COPY public."Lessons" ("Id", "CourseId", "Title", "Time", "SortOrder") FROM stdin;
c856730a-5292-40be-9098-65bc3e24054b	4f93cac2-aa57-481b-ac2e-1ec6f145f8b1	Lesson - 1	6hrs	1
8b7b983d-7886-4899-9780-f190911d42de	4f93cac2-aa57-481b-ac2e-1ec6f145f8b1	Lesson - 2	3hrs	2
\.


--
-- Data for Name: Notifications; Type: TABLE DATA; Schema: public; Owner: thz
--

COPY public."Notifications" ("Id", "RecipientId", "SenderId", "Title", "Message", "Type", "TargetId", "IsRead", "CreatedAt") FROM stdin;
\.


--
-- Data for Name: OrgUnits; Type: TABLE DATA; Schema: public; Owner: thz
--



--
-- Data for Name: QuestionOptions; Type: TABLE DATA; Schema: public; Owner: thz
--



--
-- Data for Name: Questions; Type: TABLE DATA; Schema: public; Owner: thz
--

COPY public."Questions" ("Id", "TestId", "QuestionText", "SortOrder", "Points") FROM stdin;
96af8ee4-c964-481d-ac21-1fba376b86f5	ccf44d03-f264-49f9-93d9-242778e75546	Who is Mr Bean?	1	10
6d4d5978-066e-4bdb-847f-b49a28d60536	a4f72ad6-626a-4e47-aa0f-ddd61ed69289	What does that called in Japanese?	1	10
e979291e-3777-4dac-8edf-daec3cfb9aac	a4f72ad6-626a-4e47-aa0f-ddd61ed69289	What is the name of this compound	2	10
\.


--
-- Data for Name: Submissions; Type: TABLE DATA; Schema: public; Owner: thz
--

COPY public."Submissions" ("Id", "ContentText", "FileUrl", "SubmittedAt", "StudentId", "AssignmentId") FROM stdin;
\.


--
-- Data for Name: Tests; Type: TABLE DATA; Schema: public; Owner: thz
--

COPY public."Tests" ("Id", "LessonContentId", "PassingGrade", "Title") FROM stdin;
ccf44d03-f264-49f9-93d9-242778e75546	8189ad28-0920-4846-9db9-2e231d6dfd56	100	Lesson Quiz
a4f72ad6-626a-4e47-aa0f-ddd61ed69289	a9b63bc8-55ee-4793-be6f-05b731fddba2	100	Lesson Quiz
\.


--
-- Data for Name: Topics; Type: TABLE DATA; Schema: public; Owner: thz
--

COPY public."Topics" ("Id", "Title", "CourseId") FROM stdin;
05ba1160-76e3-4086-9f45-544111241d2d	General Announcements & Introduction	4f93cac2-aa57-481b-ac2e-1ec6f145f8b1
\.


--
-- Data for Name: UserLessonProgresses; Type: TABLE DATA; Schema: public; Owner: thz
--



--
-- Data for Name: __EFMigrationsHistory; Type: TABLE DATA; Schema: public; Owner: thz
--



--
-- Name: AspNetRoleClaims_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: thz
--

SELECT pg_catalog.setval('public."AspNetRoleClaims_Id_seq"', 1, false);


--
-- Name: AspNetUserClaims_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: thz
--

SELECT pg_catalog.setval('public."AspNetUserClaims_Id_seq"', 1, false);


--
-- Name: OrgUnits_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: thz
--

SELECT pg_catalog.setval('public."OrgUnits_Id_seq"', 68, false);


--
-- Name: AspNetRoleClaims PK_AspNetRoleClaims; Type: CONSTRAINT; Schema: public; Owner: thz
--

ALTER TABLE ONLY public."AspNetRoleClaims"
    ADD CONSTRAINT "PK_AspNetRoleClaims" PRIMARY KEY ("Id");


--
-- Name: AspNetRoles PK_AspNetRoles; Type: CONSTRAINT; Schema: public; Owner: thz
--

ALTER TABLE ONLY public."AspNetRoles"
    ADD CONSTRAINT "PK_AspNetRoles" PRIMARY KEY ("Id");


--
-- Name: AspNetUserClaims PK_AspNetUserClaims; Type: CONSTRAINT; Schema: public; Owner: thz
--

ALTER TABLE ONLY public."AspNetUserClaims"
    ADD CONSTRAINT "PK_AspNetUserClaims" PRIMARY KEY ("Id");


--
-- Name: AspNetUserLogins PK_AspNetUserLogins; Type: CONSTRAINT; Schema: public; Owner: thz
--

ALTER TABLE ONLY public."AspNetUserLogins"
    ADD CONSTRAINT "PK_AspNetUserLogins" PRIMARY KEY ("LoginProvider", "ProviderKey");


--
-- Name: AspNetUserRoles PK_AspNetUserRoles; Type: CONSTRAINT; Schema: public; Owner: thz
--

ALTER TABLE ONLY public."AspNetUserRoles"
    ADD CONSTRAINT "PK_AspNetUserRoles" PRIMARY KEY ("UserId", "RoleId");


--
-- Name: AspNetUserTokens PK_AspNetUserTokens; Type: CONSTRAINT; Schema: public; Owner: thz
--

ALTER TABLE ONLY public."AspNetUserTokens"
    ADD CONSTRAINT "PK_AspNetUserTokens" PRIMARY KEY ("UserId", "LoginProvider", "Name");


--
-- Name: AspNetUsers PK_AspNetUsers; Type: CONSTRAINT; Schema: public; Owner: thz
--

ALTER TABLE ONLY public."AspNetUsers"
    ADD CONSTRAINT "PK_AspNetUsers" PRIMARY KEY ("Id");


--
-- Name: Assignments PK_Assignments; Type: CONSTRAINT; Schema: public; Owner: thz
--

ALTER TABLE ONLY public."Assignments"
    ADD CONSTRAINT "PK_Assignments" PRIMARY KEY ("Id");


--
-- Name: AuditLogs PK_AuditLogs; Type: CONSTRAINT; Schema: public; Owner: thz
--

ALTER TABLE ONLY public."AuditLogs"
    ADD CONSTRAINT "PK_AuditLogs" PRIMARY KEY ("Id");


--
-- Name: CourseRatings PK_CourseRatings; Type: CONSTRAINT; Schema: public; Owner: thz
--

ALTER TABLE ONLY public."CourseRatings"
    ADD CONSTRAINT "PK_CourseRatings" PRIMARY KEY ("Id");


--
-- Name: Courses PK_Courses; Type: CONSTRAINT; Schema: public; Owner: thz
--

ALTER TABLE ONLY public."Courses"
    ADD CONSTRAINT "PK_Courses" PRIMARY KEY ("Id");


--
-- Name: Enrollments PK_Enrollments; Type: CONSTRAINT; Schema: public; Owner: thz
--

ALTER TABLE ONLY public."Enrollments"
    ADD CONSTRAINT "PK_Enrollments" PRIMARY KEY ("Id");


--
-- Name: LessonAttempts PK_LessonAttempts; Type: CONSTRAINT; Schema: public; Owner: thz
--

ALTER TABLE ONLY public."LessonAttempts"
    ADD CONSTRAINT "PK_LessonAttempts" PRIMARY KEY ("Id");


--
-- Name: LessonContents PK_LessonContents; Type: CONSTRAINT; Schema: public; Owner: thz
--

ALTER TABLE ONLY public."LessonContents"
    ADD CONSTRAINT "PK_LessonContents" PRIMARY KEY ("Id");


--
-- Name: Lessons PK_Lessons; Type: CONSTRAINT; Schema: public; Owner: thz
--

ALTER TABLE ONLY public."Lessons"
    ADD CONSTRAINT "PK_Lessons" PRIMARY KEY ("Id");


--
-- Name: Notifications PK_Notifications; Type: CONSTRAINT; Schema: public; Owner: thz
--

ALTER TABLE ONLY public."Notifications"
    ADD CONSTRAINT "PK_Notifications" PRIMARY KEY ("Id");


--
-- Name: OrgUnits PK_OrgUnits; Type: CONSTRAINT; Schema: public; Owner: thz
--

ALTER TABLE ONLY public."OrgUnits"
    ADD CONSTRAINT "PK_OrgUnits" PRIMARY KEY ("Id");


--
-- Name: QuestionOptions PK_QuestionOptions; Type: CONSTRAINT; Schema: public; Owner: thz
--

ALTER TABLE ONLY public."QuestionOptions"
    ADD CONSTRAINT "PK_QuestionOptions" PRIMARY KEY ("Id");


--
-- Name: Questions PK_Questions; Type: CONSTRAINT; Schema: public; Owner: thz
--

ALTER TABLE ONLY public."Questions"
    ADD CONSTRAINT "PK_Questions" PRIMARY KEY ("Id");


--
-- Name: Submissions PK_Submissions; Type: CONSTRAINT; Schema: public; Owner: thz
--

ALTER TABLE ONLY public."Submissions"
    ADD CONSTRAINT "PK_Submissions" PRIMARY KEY ("Id");


--
-- Name: Tests PK_Tests; Type: CONSTRAINT; Schema: public; Owner: thz
--

ALTER TABLE ONLY public."Tests"
    ADD CONSTRAINT "PK_Tests" PRIMARY KEY ("Id");


--
-- Name: Topics PK_Topics; Type: CONSTRAINT; Schema: public; Owner: thz
--

ALTER TABLE ONLY public."Topics"
    ADD CONSTRAINT "PK_Topics" PRIMARY KEY ("Id");


--
-- Name: UserLessonProgresses PK_UserLessonProgresses; Type: CONSTRAINT; Schema: public; Owner: thz
--

ALTER TABLE ONLY public."UserLessonProgresses"
    ADD CONSTRAINT "PK_UserLessonProgresses" PRIMARY KEY ("Id");


--
-- Name: __EFMigrationsHistory PK___EFMigrationsHistory; Type: CONSTRAINT; Schema: public; Owner: thz
--

ALTER TABLE ONLY public."__EFMigrationsHistory"
    ADD CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY ("MigrationId");


--
-- Name: EmailIndex; Type: INDEX; Schema: public; Owner: thz
--

CREATE INDEX "EmailIndex" ON public."AspNetUsers" USING btree ("NormalizedEmail");


--
-- Name: IX_AspNetRoleClaims_RoleId; Type: INDEX; Schema: public; Owner: thz
--

CREATE INDEX "IX_AspNetRoleClaims_RoleId" ON public."AspNetRoleClaims" USING btree ("RoleId");


--
-- Name: IX_AspNetUserClaims_UserId; Type: INDEX; Schema: public; Owner: thz
--

CREATE INDEX "IX_AspNetUserClaims_UserId" ON public."AspNetUserClaims" USING btree ("UserId");


--
-- Name: IX_AspNetUserLogins_UserId; Type: INDEX; Schema: public; Owner: thz
--

CREATE INDEX "IX_AspNetUserLogins_UserId" ON public."AspNetUserLogins" USING btree ("UserId");


--
-- Name: IX_AspNetUserRoles_RoleId; Type: INDEX; Schema: public; Owner: thz
--

CREATE INDEX "IX_AspNetUserRoles_RoleId" ON public."AspNetUserRoles" USING btree ("RoleId");


--
-- Name: IX_AspNetUsers_CompanyCode; Type: INDEX; Schema: public; Owner: thz
--

CREATE UNIQUE INDEX "IX_AspNetUsers_CompanyCode" ON public."AspNetUsers" USING btree ("CompanyCode");


--
-- Name: IX_AspNetUsers_OrgUnitId; Type: INDEX; Schema: public; Owner: thz
--

CREATE INDEX "IX_AspNetUsers_OrgUnitId" ON public."AspNetUsers" USING btree ("OrgUnitId");


--
-- Name: IX_Assignments_TopicId; Type: INDEX; Schema: public; Owner: thz
--

CREATE INDEX "IX_Assignments_TopicId" ON public."Assignments" USING btree ("TopicId");


--
-- Name: IX_AuditLogs_EntityId; Type: INDEX; Schema: public; Owner: thz
--

CREATE INDEX "IX_AuditLogs_EntityId" ON public."AuditLogs" USING btree ("EntityId");


--
-- Name: IX_AuditLogs_PerformedBy; Type: INDEX; Schema: public; Owner: thz
--

CREATE INDEX "IX_AuditLogs_PerformedBy" ON public."AuditLogs" USING btree ("PerformedBy");


--
-- Name: IX_CourseRatings_CourseId; Type: INDEX; Schema: public; Owner: thz
--

CREATE INDEX "IX_CourseRatings_CourseId" ON public."CourseRatings" USING btree ("CourseId");


--
-- Name: IX_CourseRatings_UserId_CourseId; Type: INDEX; Schema: public; Owner: thz
--

CREATE UNIQUE INDEX "IX_CourseRatings_UserId_CourseId" ON public."CourseRatings" USING btree ("UserId", "CourseId");


--
-- Name: IX_Enrollments_CourseId; Type: INDEX; Schema: public; Owner: thz
--

CREATE INDEX "IX_Enrollments_CourseId" ON public."Enrollments" USING btree ("CourseId");


--
-- Name: IX_Enrollments_UserId_CourseId; Type: INDEX; Schema: public; Owner: thz
--

CREATE UNIQUE INDEX "IX_Enrollments_UserId_CourseId" ON public."Enrollments" USING btree ("UserId", "CourseId");


--
-- Name: IX_LessonAttempts_LessonId; Type: INDEX; Schema: public; Owner: thz
--

CREATE INDEX "IX_LessonAttempts_LessonId" ON public."LessonAttempts" USING btree ("LessonId");


--
-- Name: IX_LessonAttempts_TestId; Type: INDEX; Schema: public; Owner: thz
--

CREATE INDEX "IX_LessonAttempts_TestId" ON public."LessonAttempts" USING btree ("TestId");


--
-- Name: IX_LessonAttempts_UserId_TestId_AttemptedAt; Type: INDEX; Schema: public; Owner: thz
--

CREATE INDEX "IX_LessonAttempts_UserId_TestId_AttemptedAt" ON public."LessonAttempts" USING btree ("UserId", "TestId", "AttemptedAt");


--
-- Name: IX_LessonContents_LessonId_SortOrder; Type: INDEX; Schema: public; Owner: thz
--

CREATE INDEX "IX_LessonContents_LessonId_SortOrder" ON public."LessonContents" USING btree ("LessonId", "SortOrder");


--
-- Name: IX_Lessons_CourseId_SortOrder; Type: INDEX; Schema: public; Owner: thz
--

CREATE INDEX "IX_Lessons_CourseId_SortOrder" ON public."Lessons" USING btree ("CourseId", "SortOrder");


--
-- Name: IX_Notifications_CreatedAt; Type: INDEX; Schema: public; Owner: thz
--

CREATE INDEX "IX_Notifications_CreatedAt" ON public."Notifications" USING btree ("CreatedAt");


--
-- Name: IX_Notifications_RecipientId; Type: INDEX; Schema: public; Owner: thz
--

CREATE INDEX "IX_Notifications_RecipientId" ON public."Notifications" USING btree ("RecipientId");


--
-- Name: IX_Notifications_SenderId; Type: INDEX; Schema: public; Owner: thz
--

CREATE INDEX "IX_Notifications_SenderId" ON public."Notifications" USING btree ("SenderId");


--
-- Name: IX_OrgUnits_ParentId; Type: INDEX; Schema: public; Owner: thz
--

CREATE INDEX "IX_OrgUnits_ParentId" ON public."OrgUnits" USING btree ("ParentId");


--
-- Name: IX_QuestionOptions_QuestionId; Type: INDEX; Schema: public; Owner: thz
--

CREATE INDEX "IX_QuestionOptions_QuestionId" ON public."QuestionOptions" USING btree ("QuestionId");


--
-- Name: IX_Questions_TestId_SortOrder; Type: INDEX; Schema: public; Owner: thz
--

CREATE INDEX "IX_Questions_TestId_SortOrder" ON public."Questions" USING btree ("TestId", "SortOrder");


--
-- Name: IX_Submissions_AssignmentId; Type: INDEX; Schema: public; Owner: thz
--

CREATE INDEX "IX_Submissions_AssignmentId" ON public."Submissions" USING btree ("AssignmentId");


--
-- Name: IX_Submissions_StudentId; Type: INDEX; Schema: public; Owner: thz
--

CREATE INDEX "IX_Submissions_StudentId" ON public."Submissions" USING btree ("StudentId");


--
-- Name: IX_Tests_LessonContentId; Type: INDEX; Schema: public; Owner: thz
--

CREATE UNIQUE INDEX "IX_Tests_LessonContentId" ON public."Tests" USING btree ("LessonContentId");


--
-- Name: IX_Topics_CourseId; Type: INDEX; Schema: public; Owner: thz
--

CREATE INDEX "IX_Topics_CourseId" ON public."Topics" USING btree ("CourseId");


--
-- Name: IX_UserLessonProgresses_LessonId; Type: INDEX; Schema: public; Owner: thz
--

CREATE INDEX "IX_UserLessonProgresses_LessonId" ON public."UserLessonProgresses" USING btree ("LessonId");


--
-- Name: IX_UserLessonProgresses_UserId_LessonId; Type: INDEX; Schema: public; Owner: thz
--

CREATE UNIQUE INDEX "IX_UserLessonProgresses_UserId_LessonId" ON public."UserLessonProgresses" USING btree ("UserId", "LessonId");


--
-- Name: RoleNameIndex; Type: INDEX; Schema: public; Owner: thz
--

CREATE UNIQUE INDEX "RoleNameIndex" ON public."AspNetRoles" USING btree ("NormalizedName");


--
-- Name: UserNameIndex; Type: INDEX; Schema: public; Owner: thz
--

CREATE UNIQUE INDEX "UserNameIndex" ON public."AspNetUsers" USING btree ("NormalizedUserName");


--
-- Name: AspNetRoleClaims FK_AspNetRoleClaims_AspNetRoles_RoleId; Type: FK CONSTRAINT; Schema: public; Owner: thz
--

ALTER TABLE ONLY public."AspNetRoleClaims"
    ADD CONSTRAINT "FK_AspNetRoleClaims_AspNetRoles_RoleId" FOREIGN KEY ("RoleId") REFERENCES public."AspNetRoles"("Id") ON DELETE CASCADE;


--
-- Name: AspNetUserClaims FK_AspNetUserClaims_AspNetUsers_UserId; Type: FK CONSTRAINT; Schema: public; Owner: thz
--

ALTER TABLE ONLY public."AspNetUserClaims"
    ADD CONSTRAINT "FK_AspNetUserClaims_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES public."AspNetUsers"("Id") ON DELETE CASCADE;


--
-- Name: AspNetUserLogins FK_AspNetUserLogins_AspNetUsers_UserId; Type: FK CONSTRAINT; Schema: public; Owner: thz
--

ALTER TABLE ONLY public."AspNetUserLogins"
    ADD CONSTRAINT "FK_AspNetUserLogins_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES public."AspNetUsers"("Id") ON DELETE CASCADE;


--
-- Name: AspNetUserRoles FK_AspNetUserRoles_AspNetRoles_RoleId; Type: FK CONSTRAINT; Schema: public; Owner: thz
--

ALTER TABLE ONLY public."AspNetUserRoles"
    ADD CONSTRAINT "FK_AspNetUserRoles_AspNetRoles_RoleId" FOREIGN KEY ("RoleId") REFERENCES public."AspNetRoles"("Id") ON DELETE CASCADE;


--
-- Name: AspNetUserRoles FK_AspNetUserRoles_AspNetUsers_UserId; Type: FK CONSTRAINT; Schema: public; Owner: thz
--

ALTER TABLE ONLY public."AspNetUserRoles"
    ADD CONSTRAINT "FK_AspNetUserRoles_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES public."AspNetUsers"("Id") ON DELETE CASCADE;


--
-- Name: AspNetUserTokens FK_AspNetUserTokens_AspNetUsers_UserId; Type: FK CONSTRAINT; Schema: public; Owner: thz
--

ALTER TABLE ONLY public."AspNetUserTokens"
    ADD CONSTRAINT "FK_AspNetUserTokens_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES public."AspNetUsers"("Id") ON DELETE CASCADE;


--
-- Name: AspNetUsers FK_AspNetUsers_OrgUnits_OrgUnitId; Type: FK CONSTRAINT; Schema: public; Owner: thz
--

ALTER TABLE ONLY public."AspNetUsers"
    ADD CONSTRAINT "FK_AspNetUsers_OrgUnits_OrgUnitId" FOREIGN KEY ("OrgUnitId") REFERENCES public."OrgUnits"("Id") ON DELETE SET NULL;


--
-- Name: Assignments FK_Assignments_Topics_TopicId; Type: FK CONSTRAINT; Schema: public; Owner: thz
--

ALTER TABLE ONLY public."Assignments"
    ADD CONSTRAINT "FK_Assignments_Topics_TopicId" FOREIGN KEY ("TopicId") REFERENCES public."Topics"("Id") ON DELETE CASCADE;


--
-- Name: AuditLogs FK_AuditLogs_AspNetUsers_PerformedBy; Type: FK CONSTRAINT; Schema: public; Owner: thz
--

ALTER TABLE ONLY public."AuditLogs"
    ADD CONSTRAINT "FK_AuditLogs_AspNetUsers_PerformedBy" FOREIGN KEY ("PerformedBy") REFERENCES public."AspNetUsers"("Id") ON DELETE SET NULL;


--
-- Name: CourseRatings FK_CourseRatings_AspNetUsers_UserId; Type: FK CONSTRAINT; Schema: public; Owner: thz
--

ALTER TABLE ONLY public."CourseRatings"
    ADD CONSTRAINT "FK_CourseRatings_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES public."AspNetUsers"("Id") ON DELETE CASCADE;


--
-- Name: CourseRatings FK_CourseRatings_Courses_CourseId; Type: FK CONSTRAINT; Schema: public; Owner: thz
--

ALTER TABLE ONLY public."CourseRatings"
    ADD CONSTRAINT "FK_CourseRatings_Courses_CourseId" FOREIGN KEY ("CourseId") REFERENCES public."Courses"("Id") ON DELETE CASCADE;


--
-- Name: Enrollments FK_Enrollments_AspNetUsers_UserId; Type: FK CONSTRAINT; Schema: public; Owner: thz
--

ALTER TABLE ONLY public."Enrollments"
    ADD CONSTRAINT "FK_Enrollments_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES public."AspNetUsers"("Id");


--
-- Name: Enrollments FK_Enrollments_Courses_CourseId; Type: FK CONSTRAINT; Schema: public; Owner: thz
--

ALTER TABLE ONLY public."Enrollments"
    ADD CONSTRAINT "FK_Enrollments_Courses_CourseId" FOREIGN KEY ("CourseId") REFERENCES public."Courses"("Id") ON DELETE CASCADE;


--
-- Name: LessonAttempts FK_LessonAttempts_Lessons_LessonId; Type: FK CONSTRAINT; Schema: public; Owner: thz
--

ALTER TABLE ONLY public."LessonAttempts"
    ADD CONSTRAINT "FK_LessonAttempts_Lessons_LessonId" FOREIGN KEY ("LessonId") REFERENCES public."Lessons"("Id") ON DELETE CASCADE;


--
-- Name: LessonAttempts FK_LessonAttempts_Tests_TestId; Type: FK CONSTRAINT; Schema: public; Owner: thz
--

ALTER TABLE ONLY public."LessonAttempts"
    ADD CONSTRAINT "FK_LessonAttempts_Tests_TestId" FOREIGN KEY ("TestId") REFERENCES public."Tests"("Id");


--
-- Name: LessonContents FK_LessonContents_Lessons_LessonId; Type: FK CONSTRAINT; Schema: public; Owner: thz
--

ALTER TABLE ONLY public."LessonContents"
    ADD CONSTRAINT "FK_LessonContents_Lessons_LessonId" FOREIGN KEY ("LessonId") REFERENCES public."Lessons"("Id") ON DELETE CASCADE;


--
-- Name: Lessons FK_Lessons_Courses_CourseId; Type: FK CONSTRAINT; Schema: public; Owner: thz
--

ALTER TABLE ONLY public."Lessons"
    ADD CONSTRAINT "FK_Lessons_Courses_CourseId" FOREIGN KEY ("CourseId") REFERENCES public."Courses"("Id") ON DELETE CASCADE;


--
-- Name: Notifications FK_Notifications_AspNetUsers_RecipientId; Type: FK CONSTRAINT; Schema: public; Owner: thz
--

ALTER TABLE ONLY public."Notifications"
    ADD CONSTRAINT "FK_Notifications_AspNetUsers_RecipientId" FOREIGN KEY ("RecipientId") REFERENCES public."AspNetUsers"("Id") ON DELETE CASCADE;


--
-- Name: Notifications FK_Notifications_AspNetUsers_SenderId; Type: FK CONSTRAINT; Schema: public; Owner: thz
--

ALTER TABLE ONLY public."Notifications"
    ADD CONSTRAINT "FK_Notifications_AspNetUsers_SenderId" FOREIGN KEY ("SenderId") REFERENCES public."AspNetUsers"("Id") ON DELETE SET NULL;


--
-- Name: OrgUnits FK_OrgUnits_OrgUnits_ParentId; Type: FK CONSTRAINT; Schema: public; Owner: thz
--

ALTER TABLE ONLY public."OrgUnits"
    ADD CONSTRAINT "FK_OrgUnits_OrgUnits_ParentId" FOREIGN KEY ("ParentId") REFERENCES public."OrgUnits"("Id") ON DELETE RESTRICT;


--
-- Name: QuestionOptions FK_QuestionOptions_Questions_QuestionId; Type: FK CONSTRAINT; Schema: public; Owner: thz
--

ALTER TABLE ONLY public."QuestionOptions"
    ADD CONSTRAINT "FK_QuestionOptions_Questions_QuestionId" FOREIGN KEY ("QuestionId") REFERENCES public."Questions"("Id") ON DELETE CASCADE;


--
-- Name: Questions FK_Questions_Tests_TestId; Type: FK CONSTRAINT; Schema: public; Owner: thz
--

ALTER TABLE ONLY public."Questions"
    ADD CONSTRAINT "FK_Questions_Tests_TestId" FOREIGN KEY ("TestId") REFERENCES public."Tests"("Id") ON DELETE CASCADE;


--
-- Name: Submissions FK_Submissions_AspNetUsers_StudentId; Type: FK CONSTRAINT; Schema: public; Owner: thz
--

ALTER TABLE ONLY public."Submissions"
    ADD CONSTRAINT "FK_Submissions_AspNetUsers_StudentId" FOREIGN KEY ("StudentId") REFERENCES public."AspNetUsers"("Id") ON DELETE RESTRICT;


--
-- Name: Submissions FK_Submissions_Assignments_AssignmentId; Type: FK CONSTRAINT; Schema: public; Owner: thz
--

ALTER TABLE ONLY public."Submissions"
    ADD CONSTRAINT "FK_Submissions_Assignments_AssignmentId" FOREIGN KEY ("AssignmentId") REFERENCES public."Assignments"("Id") ON DELETE CASCADE;


--
-- Name: Tests FK_Tests_LessonContents_LessonContentId; Type: FK CONSTRAINT; Schema: public; Owner: thz
--

ALTER TABLE ONLY public."Tests"
    ADD CONSTRAINT "FK_Tests_LessonContents_LessonContentId" FOREIGN KEY ("LessonContentId") REFERENCES public."LessonContents"("Id") ON DELETE CASCADE;


--
-- Name: Topics FK_Topics_Courses_CourseId; Type: FK CONSTRAINT; Schema: public; Owner: thz
--

ALTER TABLE ONLY public."Topics"
    ADD CONSTRAINT "FK_Topics_Courses_CourseId" FOREIGN KEY ("CourseId") REFERENCES public."Courses"("Id") ON DELETE CASCADE;


--
-- Name: UserLessonProgresses FK_UserLessonProgresses_AspNetUsers_UserId; Type: FK CONSTRAINT; Schema: public; Owner: thz
--

ALTER TABLE ONLY public."UserLessonProgresses"
    ADD CONSTRAINT "FK_UserLessonProgresses_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES public."AspNetUsers"("Id") ON DELETE CASCADE;


--
-- Name: UserLessonProgresses FK_UserLessonProgresses_Lessons_LessonId; Type: FK CONSTRAINT; Schema: public; Owner: thz
--

ALTER TABLE ONLY public."UserLessonProgresses"
    ADD CONSTRAINT "FK_UserLessonProgresses_Lessons_LessonId" FOREIGN KEY ("LessonId") REFERENCES public."Lessons"("Id") ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict d96smExkYqyAweEhDJdFPVAuXTUcw87pqGqd4IFsUwdNUcbzFmawpaMaIf2qKU4

